:host {
    height: 100%;
}

i {
    font-size: 3rem;
}

.brand-label-container {
    text-align: right;
}

.brand-form-container {
    border-width: 1px;
    border-style: solid;
    border-color: var(--gray-200);
    border-radius: 6px;
}
