<div class="h-full">
    <p-panel class="vehicle-filter-p-panel">
        <ng-template pTemplate="header">
            <div class="w-full vehicle-filter-p-panel-header">
                <h3 class="w-full">Vehicles filter form</h3>            
                <hr class="w-full">
            </div>
        </ng-template>
        <form class="flex h-full flex-column justify-content-center" [formGroup]="vehiclesFilterForm" (submit)="searchVehicles()">
            <div class="flex flex-column">
                <div class="field grid">
                    <div class="col-3 brand-label-container">
                        <label for="brand">Brand</label>
                    </div>
                    <div class="col-8 brand-dropdown-container">
                        <p-dropdown
                            formControlName="brand"
                            [options]="brands | async"
                            optionLabel="name"
                            optionValue="code"
                            [showClear]="true"
                            placeholder="Select a vehicle brand"
                            class="vehicles-filter-brand-dropdown"
                            (onChange)="brandChangeHandler()">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="flex gap-3 align-items-center justify-content-end w-11">
                <p-button type="submit" icon="pi pi-search" label="search" severity="primary" [outlined]="true"></p-button>
            </div>
        </form>
    </p-panel>
</div>
